*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --textColor: black;
    --secondTextColor: white;
    --thirdColor: #51aa49;
    --backgroundColor: #fcfcfc;
    --textFont: Verdana, Geneva, Tahoma, sans-serif;
}

.principalContainer{
    width: 100%;
    height: 100vh;
    background-color: var(--backgroundColor);
}

.menuContainer{
    width: 100%;
    height: 8%;
    background-color: #51aa49;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;

}
.menuContainer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
}
.menuContainer ul li{
    color: var(--secondTextColor);
    font-family: var(--textFont);
    font-size: 20px;
    cursor: pointer;
}
.menuButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--secondTextColor);
    transition: all ease-in-out 0.4s;
    font-size: 15px;
}
.menuButtons:hover{
    font-size: 16px;
}
.content{
    height: 92%;
    z-index: 1;
}

.greeting{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: var(--textFont);
    font-size: 30px;
    color: var(--thirdColor);
    font-weight: 500;
}