*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.colaboradoresContainer{
    display: flex;
    position: absolute;
    width: 50%;
    height: max-content;
    top: 100px;
    left: 25%;
    border-radius: 25px;
    border: 3px solid var(--thirdColor);
    background-color: var(--secondTextColor);
}

form{
    padding: 10px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input, select{
    width: 100%;
    height: 30px;
    border: 1px solid var(--thirdColor);
    border-radius: 10px;

}

.formDer, .formIzq{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px 20px 5px;
    
}

.submit{
    background-color: var(--thirdColor);
    color: var(--secondTextColor);
}

