*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.colaboradoresContainer{
    display: none;
    position: fixed;

    width: 700px;
    height: max-content;
    border-radius: 25px;
    border: 3px solid var(--thirdColor);
    background-color: var(--secondTextColor);
    transition: opacity 0.3s ease;
    z-index: 1000;
}
.colaboradoresContainer.visible{
    display: flex;
}

.modal{
    transform: translateY(-150vh);
    transition: transform 0.5s ease;
}
.modal.active{
    transform: translateY(0);
}

form{
    padding: 50px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
h2{
    color: var(--thirdColor);
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

input, select{
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--thirdColor);
    text-align: center;
    font-size: 16px;
}
input:focus, select:focus{
    outline: none;
    border-bottom: 2px solid var(--thirdColor);
}
input{
    height: 30px;
    padding: 5px;
}

select{
    height: 35px;
    background-color: var(--secondTextColor);
    font-size: 16px;
    cursor: pointer;
    color: gray;
}

.submit{
    background-color: var(--thirdColor);
    color: var(--secondTextColor);
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    width: 50%;
    height: 40px;
}
.closeButton{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--thirdColor);
    color: var(--secondTextColor);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}

