.notificacionesContainer{
    position: fixed;
    top: 0px;
    right: calc(100% + 40px);
    width: 300px;
    height: 100vh;
    background-color: var(--secondTextColor);
    pointer-events: none;
    transition: all 1s ease;
    z-index: 1000;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}
.notificacionesContainer.visible{
    right: calc(100% - 300px);
    pointer-events: all;
}
.modal{
    padding: 50px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    transition: transform 0.5s ease;
}
.closeNotificaciones{
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: transparent;
    text-align: center;
    border: 2px solid var(--thirdColor);
    border-radius: 50%;
    padding: 10px;
    color: var(--thirdColor);
    cursor: pointer;
    transition: all 0.5s ease;
}